.modal-body td {
  padding: 2px;
}

.modal-body td:first-child {
  font-weight: bold;
}

#modal #gene,
#modal #chr {
  width: 220px;
}

.btn-organism {
  height: 50px;
  width: 100px;
}

#modal #description {
  width: 440px;
  height: 200px;
  resize: none;
}

#modal #file {
  margin-top: 15px;
}