
h2, h3, li, p {
   font-family: Helvetica, sans-serif, arial, Lucida Grande, Lucida Sans;
}

pre {
  color: #61576d;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
}

table, th, td
{
  font-size: 12px;
  border: 1px solid #DDD;
  border-collapse:collapse;
  text-align: center;
  line-height: 20px;
  padding: 0px 15px;
}

h2 {
  font-size: 20px;
  color: black;
  background: #DDDDDD;
  padding-left: 1em;
  line-height: 50px;
}

h3 {
  font-size: 17px;
  background: #DDDDDD;
}

li {
  line-height: 2em;
  font-size: 14px;
}

p {
  font-size: 14px;
}
