#side-panel {
  height: auto;
  right: -218px;
  top: 35px;
  bottom: 30px;
  position: fixed;
  z-index: 1;
}

#side-panel.active {
  right: 0px;
}

#btnToggle {
  position: absolute;
  right: 218px;
  z-index: 1;
}

#btnToggle button {
  border-radius: 4px 0px 0px 0px;
  height: 50px;
  width: 32px;
}

#slider {
  background-color: white;
  border: solid 1px #ccc;
  border-radius: 0px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  height: 100%;
  width: 250px;
  overflow-y: auto;
}

#tab-slider {
  height: 100%;
  width: 30px;
  padding-left: 0px;
  padding-right: 0px;
}

.sideways {
  border-right: solid 1px #ccc;
}

.sideways.tabs-left {
  border-bottom: solid 1px white;
  height: inherit;
  left: 0px;
  margin-left: -51px;
  margin-right: -1px;
}

.sideways li a {
  border: solid 1px #ccc;
  font-size: small;
  margin-top: -1px;
  overflow: hidden;
  padding: 6px 6px 6px 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sideways li:first-child {
  display: none;
}

.sideways li:nth-child(2) {
  margin-top: 46.5px;
}

.sideways li:nth-child(2) a {
  border-top-right-radius: 0px;
  margin-top: -2px;
}

#tab-content-slider {
  margin-top: 10px;
  padding-left: 10px;
}
