
/************************ WARNING *************************
 *                    MESSY CODE ZONE!                    *
 **********************************************************/

/*
 * Need to split the following to separate files
 */

html {
  -webkit-font-smoothing: antialiased;
}

html, body {
  height: 100%;
  margin: 0;
}

#main {
  height: 100%;
}

text, h3, .hint, .view-div, .exonname, .label,
.trackhint, .coordlabel, .graphinfo, .legend, .condtext,
.xlabel {
  font-family: Helvetica, sans-serif, arial, Lucida Grande, Lucida Sans;
}

h3 {
  font-size: 0.9em;
  text-align: center;
  margin: 0;
}

.floating {
  float: left;
  position: fixed;
  z-index: 1000;
}

.view-wait-background {
  background: rgba(0,0,0,0.25);
}
.view-wait-icon {
  background: url(../imgs/hourglass.png) no-repeat center;
}

.view-wait-background, .view-wait-icon {
  float: left;
  position: fixed;
}

.view-docked {
  width: 100%;
  height: 100%;
}

.view-floating {
  width: 500;
  height: 200;
}

.border {
  border: 1px solid #ccc;
}

text {
  font-size: 0.8em;
  color: black;
}

.hint {
  display: table-cell;
  font-size: 15px;
  color: #F0F0F0;
  text-align: center;
  background-color: rgba(0,0,0,0.25);
  vertical-align: middle;
}


.view-div {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.view-canvas {
}

.node {
  fill: red;
  stroke: gray;
  stroke-width: 1.5px;
}

.node_highlight {
  fill: black;
  fill-opacity: .0;
  stroke: orange;
  stroke-width: 4.0px;
}

.node_select {
  fill: orange;
  stroke: gray;
  stroke-width: 1.5px;
}

.nodeiobj {
  stroke: black;
  fill: black;
  stroke-opacity: .0;
  opacity: .0;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
  stroke-width: 3.0;
}

.linkiobj {
  stroke: black;
  stroke-width: 10.0;
  stroke-opacity: .0;
}

.linkdir {
  fill: white;
  stroke-opacity: .6;
  stroke-width: 2.0;
}

.link_highlight {
  stroke: orange;
  stroke-opacity: 1.0;
  stroke-width: 5.0;
}

.linkdir_highlight {
  stroke: orange;
  fill: white;
  stroke-width: 4.0;
}

.link_select {
  fill: orange;
  stroke: orange;
  stroke-width: 3.0;
}

.linkdir_select {
  fill: white;
  stroke: orange;
  stroke-width: 2.0;
}

.txbox {
  fill: #61576d;
  stroke: none;
}
.exonbox {
  fill: #61576d;
  stroke: none;
}
.exonstrand {
  fill: #4f455c;
  stroke: none;
}
.exonline {
  stroke: #61576d;
  stroke-width: 1;
}
.exonname {
  font-size: 10px;
  text-anchor: middle;
}

.label {
  text-anchor: middle;
  pointer-events: none;
  /*
   font-size: 10px;
   fill: black;
   */
}

.background {
  fill: white;
  opacity: .0;
  x: 0;
  y: 0;
}

.iobj {
  fill: red;
  opacity: .0;
}

.izone {
  fill: #4297d7;
  opacity: .5;
}

.buttonOn {
  fill: #4297d7;
  opacity: .5;
}
.buttonOff {
  fill: grey;
  opacity: .5;
}
.buttonText {
  text-anchor: middle;
  pointer-events: none;
}

.bar {
  fill: grey;
  stroke: grey;
  stroke-width: 0.5;
}

.obar {
  fill: grey;
  stroke: grey;
  stroke-width: 0.5;
}

.frame {
  fill: none;
  stroke: grey;
  stroke-width: 0.5;
}
.trackhint {
  text-anchor: start;
}
.coordlabel {
  text-anchor: end;
  pointer-events: none;
  font-size: 8px;
  fill: black;
}

.coordline {
  stroke: black;
  stroke-opacity: .5;
  stroke-width: .25;
}
.cursorline {
  stroke: #4297d7;
  stroke-opacity: .75;
  stroke-width: 1;
}

.focusrange {
  fill: #4297d7;
  stroke: #5a5460;
  stroke-width: 1;
  opacity: .5;
}

.targetrange {
  fill: red;
  opacity: .5;
}

.xlabel {
  font-size: 8px;
}

.zoombar {
  fill: #4297d7;
  opacity: .15;
}

.zoombar_sel {
  fill: #4297d7;
  opacity: .5;
}

.graphinfo {
  font-size: 12px;
  letter-spacing: 1px;
  color: black;
}

.tablescroll {
  overflow: auto;
}

.table_highlight {
  border: 1px solid #fad42e; /* #fad42e; */
  background: #fbec88 50% 50% repeat-x; /*#fbec88*/
  color: #363636; /* #363636 */
}

.table_hover {
  border: 1px solid #79b7e7;
  background: #d0e5f5 50% 50% repeat-x;
  color: #1d5987;
}

.verticaltext {
  -moz-transform: rotate(90.0deg); /* FF3.5+ */
  -o-transform: rotate(90.0deg); /* Opera 10.5 */
  -webkit-transform: rotate(90.0deg); /* Saf3.1+, Chrome */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)"; /* IE8 */
}

.polyline {
  stroke-opacity: .75;
  stroke-width: 1.5;
}
.box {
  opacity: .75;
  stroke: none;
}

.legend {
  text-anchor: left;
  pointer-events: none;
}
.condline {
  stroke: orange;
  stroke-width: 2.0;
}
.condtext {
  pointer-events: none;
  font-size: 12px;
  font-weight: bold;
  fill: black;
}
.conddot {
  opacity: .0;
  stroke: none;
  fill: orange;
}
.conddot_hl {
  opacity: 1.0;
  stroke: none;
  fill: orange;
}


.viewshadow {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.renderdiv {
  background-color: #F0F0F0;
  /*border: 2px solid #5a5460;*/
  -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.heatmap {
  border: 1px solid #5a5460;
  -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.heatmapsel {
  background-color: rgba(255,255,255,.25);
  border: 1px solid #5a5460;
  pointer-events: none;
  position: relative;
}
.block {
  background-color: #000000;
  opacity: 0.5;
  z-index: 100;
  position: relative;
  left: 0px;
  top: 0px;
}

.uibar-text-bold {
  margin-left: 5px;
  margin-right: 5px;
  front-weight: 900;
}

.view-postbtn, .view-getbtn, .view-groupbtn,
.view-closebtn, .view-minibtn, .view-helpbtn {
  width: 16px;
  height: 16px;
}
.view-postbtn, .view-getbtn, .view-groupbtn {
  float: left;
  margin-right: 2px;
}
.view-closebtn, .view-minibtn, .view-helpbtn {
  float: right;
}
