.binding .overviews rect {
  fill: #666;
}

.binding .details rect {
  fill: #222;
}

.binding .exons rect,
.binding .exons path {
  fill: #031c51;
  stroke: none;
}

.binding .exons line {
  stroke: #031c51;
  stroke-width: 1;
}

.binding .exons text {
  font-size: 11px;
  text-anchor: middle;
}

.binding .zoom-handle {
  fill: white;
  opacity: 0.0;
  width: 100%;
}

.binding line.baseline {
  stroke: #aaa;
  stroke-width: 1px;
  opacity: 0.5;
}

.binding .label {
  text-anchor: middle;
  pointer-events: none;
}

.binding .overviews rect.range {
  fill: #031c51;
  opacity: 0.25;
}

.frame {
  fill: none;
  stroke: grey;
  stroke-width: 0.5;
}
.trackhint {
  font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
  text-anchor: start;
}
.coordlabel {
  font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; /*arial, sans-serif;*/
  text-anchor: end;
  pointer-events: none;
  font-size: 8px;
  fill: black;
}

.coordline {
  stroke: black;
  stroke-opacity: .5;
  stroke-width: .25;
}
.cursorline {
  stroke: #4297d7;
  stroke-opacity: .75;
  stroke-width: 1;
}

.focusrange {
  fill: #4297d7;
  stroke: #5a5460;
  stroke-width: 1;
  opacity: .5;
}

.targetrange {
  fill: red;
  opacity: .5;
}

.xlabel {
  font-size: 8px;
  font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
}

.zoombar {
  fill: #4297d7;
  opacity: .15;
}

.zoombar_sel {
  fill: #4297d7;
  opacity: .5;
}
