<div>
  <span>Binding Data</span>
  <input id="gene" type="text" size="6" title="change gene data">
  <span>Chromosome</span>
  <select name="chr" title="switch chromosome">
  </select>

  <span>Start Coordinate</span>
  <input type="text" id="xl" size="8" title="edit start coordinate">
  <span>End Coordinate</span>
  <input type="text" id="xr" size="8" title="edit end coordinate">

  <span>Locate Gene</span>
  <input type="input" id="search" size="8" title="search for a gene across all chromosomes. usage: regex">
  <input type="checkbox" id="autoscale" title="auto adjust the maximum height to the maximum data value in range">
  <span>Auto-Scale</span>
  <input type="checkbox" id="overview" title="show/hide binding data overview">
  <span>Overview</span>
  <input type="checkbox" id="exons" title="show/hide exons">
  <span>Exons</span>
</div>
