.binding .overviews path {
  fill: #666;
}

.binding .details path {
  fill: #222;
}

.binding .exons rect,
.binding .exons path {
  fill: #031c51;
  stroke: none;
}

.binding .exons line {
  stroke: #031c51;
  stroke-width: 1;
}

.binding .exons text {
  font-size: 11px;
  text-anchor: middle;
}

.binding .zoom-handle {
  fill: white;
  opacity: 0.0;
  width: 100%;
}

.binding line.baseline {
  stroke: #aaa;
  stroke-width: 1px;
  opacity: 0.5;
}

.binding .label {
  text-anchor: middle;
  pointer-events: none;
}

.binding .overviews rect.range {
  fill: #031c51;
  opacity: 0.25;
}

.panel.binding #genes #add {
  width: 100%;
  margin-top: 5px;
}

.panel.binding .track-gene {
  margin-top: 3px;
}

.panel.binding .track-gene button {
  border: none;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
