$red: #d62d20;
$blue: #1e90ff;
$black: #000;
$gray: #ccc;
$white: #fff;

.view.expression {
  .profiles {
    stroke-width: 1.5;

    .profile {
      fill: none;
    }

    .highlighted {
      stroke-width: 3;
    }
  }

  .axis {
    fill: none;
    shape-rendering: crispEdges;
    stroke: $black;
    stroke-width: 1;

    &.x .tick {
      display: none;
    }

    text {
      fill: $black;
      stroke: none;
    }
  }

  .selection {
    fill: transparent;
    stroke: $white;
    stroke-dasharray: 4px;
    stroke-opacity: .5;
    stroke-width: 2px;
  }

  .label-selected {
    fill: $blue;
  }

  .gene-label {
    text-anchor: end;

    &.highlighted {
      fill: $red;
    }

    &.click-highlighted {
      fill: $red;
      stroke: $red;
    }
  }

  .condition-label {
    text-anchor: right;

    &.highlighted {
      fill: $red;
    }

    &.click-highlighted {
      fill: $red;
      stroke: $red;
    }
  }
}

#side-panel .expression {
  .box {
    border: 1px solid $gray;
    border-radius: 4px;
    padding: 10px;
  }
}
