.view.network .edges path.edge {
  fill: none;
  stroke-width: 1.5px;
}

.view.network .edges path.arrow {
  stroke-width: 1px;
}

.network-panel .btn-update {

}

/*
.node {
  fill: red;
  stroke: gray;
  stroke-width: 1.5px;
}

.node_highlight {
  fill: black;
  fill-opacity: .0;
  stroke: orange;
  stroke-width: 4.0px;
}

.node_select {
  fill: orange;
  stroke: gray;
  stroke-width: 1.5px;
}

.nodeiobj {
  stroke: black;
  fill: black;
  stroke-opacity: .0;
  opacity: .0;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
  stroke-width: 3.0;
}

.linkiobj {
  stroke: black;
  stroke-width: 10.0;
  stroke-opacity: .0;
}

.linkdir {
  fill: white;
  stroke-opacity: .6;
  stroke-width: 2.0;
}

.link_highlight {
  stroke: orange;
  stroke-opacity: 1.0;
  stroke-width: 5.0;
}

.linkdir_highlight {
  stroke: orange;
  fill: white;
  stroke-width: 4.0;
}

.link_select {
  fill: orange;
  stroke: orange;
  stroke-width: 3.0;
}

.linkdir_select {
  fill: white;
  stroke: orange;
  stroke-width: 2.0;
}

.graphinfo {
  font-size: 12px;
  letter-spacing: 1px;
  color: black;
  font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
}
*/
