.view.network .edges path.edge {
  fill: none;
  stroke-width: 2px;
}

.view.network .edges path.arrow {
  stroke-width: 2px;
}

.view.network .edges g:hover path {
  stroke-width: 4px;
}

.view.network .edges g.active path {
  stroke: orange;
}
.view.network .edges g.active path.arrow {
  fill: orange;
}

.view.network .nodes * {
  stroke: black;
  stroke-width: 2px;
}

.view.network .nodes *.active {
  stroke: orange;
}

.view.network .nodes *:hover {
  stroke-width: 4px;
}

.panel.network .box label {
  margin-right: 5px;
}

.panel.network .box {
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 10px;
}

.panel.network #edge-list {
  font-size: .9em;
}

.panel.network #edge-list .pagination > li > a {
  padding: 6px;
}