<div class="network-panel">
  <div id="network" class="panel-section">
    <div class="item-title">Network</div>
    <button class="btn btn-default glyphicon glyphicon-refresh btn-update"></button>
    <input class="form-control input-with-update">
  </div>
  <div id="genes" class="panel-section">
    <div class="item-title">Genes</div>
    <button class="btn btn-default glyphicon glyphicon-refresh btn-update"></button>
    <input class="form-control input-with-update">
  </div>
  <div id="combined-regulation" class="panel-section">
    <div class="item-title">Combined Regulations</div>
    <button class="btn btn-default glyphicon glyphicon-refresh btn-update"></button>
    <input class="form-control input-with-update">
  </div>
  <!--
  title="Add/remove/select genes in the network. Usage: [add/rm/sel] regexp |regexp. If no action is specified, default behavior is sel."
  title="Add nodes into the graph that are regulated by selected genes. Usage: regexp"
  -->
  <div class="panel-section switches">
    <table>
      <colgroup>
        <col width="50%">
        <col width="50%">
      </colgroup>
      <tbody>
      <tr>
        <td>Gene Labels</td>
        <td><input type="checkbox" id="gene-labels" title="show gene labels" checked></td>
      </tr>
      <tr>
        <td>TF-TF Edges</td>
        <td><input type="checkbox" id="tf-tf" title="show edges between TFs" checked></td>
      </tr>
      <tr>
        <td>TF-nonTF Edges</td>
        <td><input type="checkbox" id="tf-nontf" title="show edges from TFs to targets" checked></td>
      </tr>
      <!--
      <tr>
        <td>Force</td>
        <td><input type="checkbox" id="force" title="apply graph layout forces"></td>
      </tr>
      -->
      </tbody>
    </table>
  </div>
  <div id="edge-list" class="panel-section">
  </div>
</div>