.text-highlight {
  fill: red;
}

.axis {
  fill: none;
  stroke: #000;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.axis .tick text {
  fill: #000;
  stroke: none;
}

.axis.x {
  display: none;
}

/*
.expression .polyline {
  stroke-opacity: .75;
  stroke-width: 1.5;
}

.expression .cell {
  fill: #003147;
}

.expression .legend {
  font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
  text-anchor: left;
  pointer-events: none;
}
.expression .condline {
  stroke: orange;
  stroke-width: 2.0;
}
.expression .condtext {
  font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
  pointer-events: none;
  font-size: 12px;
  font-weight: bold;
  fill: black;
}
.expression .conddot {
  opacity: .0;
  stroke: none;
  fill: orange;
}
.expression .conddot_hl {
  opacity: 1.0;
  stroke: none;
  fill: orange;
}

.expression .heatmap {
  border: 1px solid #5a5460;
  -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.expression .heatmapsel {
  background-color: rgba(255,255,255,.25);
  border: 1px solid #5a5460;
  pointer-events: none;
  position: absolute;
}
*/
