.view {
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 0.9em;
  position: absolute;
}

.view-header {
  font-weight: bold;
  padding: 5px 10px;
  background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
  background-repeat: repeat-x;
  border-color: #ddd;
}

.view-header #header-text {
  pointer-events: none;
}

.view.focused .view-header {
  background-image: linear-gradient(to bottom,#d5d5d5 0,#c8c8c8 100%);
}

.view .popup {
  width: 100%;
  pointer-events: none;
  position: absolute;
}

.view .popup span {
  width: 100%;
  height: 100%;
}

.view .popup * {
  position: absolute;
}

.view .popup .text {
  font-size: 0.95em;
  font-weight: bold;
  margin-top: 5px;
  text-align: center;
  top: calc(55%);
  width: 100%;
}

.view .popup .background {
  background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
  width: 100%;
  height: 100%;
}

.view .popup .loading .background {
  opacity: 0.75;
}

.view .popup .icon-hourglass {
  left: calc(50% - 40px/2);
  top: calc(55% - 59px);
}

.view .popup .icon-failure {
  left: calc(50% - 50px/2);
  top: calc(55% - 50px);
}
