$orange: #ffa500;
$black: #000;
$gray: #ccc;

.view.network {
  .nodes {
    * {
      stroke: $black;
      stroke-width: 2px;

      &.active {
        stroke: $orange;
      }

      &:hover {
        stroke-width: 4px;
      }
    }
  }

  .edges {
    path {
      &.edge {
        fill: none;
        stroke-width: 2px;
      }

      &.arrow {
        stroke-width: 2px;
      }
    }

    g {
      &:hover path {
        stroke-width: 4px;
      }

      &.active {
        path {
          stroke: $orange;

          &.arrow {
            fill: $orange;
          }
        }
      }
    }
  }
}

#side-panel .network {
  .box {
    border: 1px solid $gray;
    border-radius: 4px;
    padding: 10px;

    label {
      margin-right: 5px;
    }
  }

  #genes #gene-input {
    float: left;
    font-size: 12px;
    margin-top: 4px;

    input {
      height: 10px;
      width: 100%;
    }
  }

  #combined-regulation #input {
    float: left;
    font-size: 12px;
    margin-top: 4px;

    input {
      height: 10px;
      width: 100%;
    }
  }

  #edge-list {
    font-size: .9em;
    margin-right: 6px;

    .pagination > li > a {
      padding: 6px;
    }

    .dataTables_wrapper {
      #table-btn .btn {
        margin-bottom: 10px;
      }
    }
  }
}
