.modal-body {
  td {
    padding: 2px;
  }

  td:first-child {
    font-weight: bold;
    white-space: nowrap;
  }
}

#dialog {
  .input-selectbox {
    width: 220px;
  }

  #description {
    height: 200px;
    resize: none;
    width: 440px;
  }

  .file-section {
    height: 30px;
    margin-top: 15px;
    position: relative;

    #btn-file {
      border-radius: 4px 0 0 4px;
      float: left;
      z-index: 1;
    }

    #file {
      display: none;
      position: absolute;
      top: 0;
    }

    #file-display {
      background: none;
      border-left: 0;
      border-radius: 0 4px 4px 0;
      left: 101px;
      overflow: hidden;
      position: absolute;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: calc(100% - 101px);
    }
  }

  .input-checkbox {
    float: left;
    font-size: 12px;

    input {
      height: 10px;
      width: 100%;
    }
  }

  .btn-organism {
    height: 50px;
    width: 100px;
  }
}
