$gray-3: #333;
$gray-a: #aaa;
$gray-c: #ccc;
$transparent-black: rgba(0, 0, 0, .075);
$white: #fff;
$black: #000;

// Select2
// - Nasty hacks for making select2 appear like bootstrap select.
.select2-container {
  .select2-selection--single {
    height: inherit;

    .select2-selection__rendered {
      box-shadow: inset 0 1px 1px $transparent-black;
      line-height: 1.42857143;
      padding: 6px 12px;
    }
  }
}

.select2-container--default {
  .select2-selection--single {
    .select2-selection__arrow {
      color: $black;
      height: 100%;
      right: 7px;

      b {
        border-color: $gray-3 transparent transparent;
        border-width: 4px 4px 0;
      }
    }
  }

  .select2-selection--multiple {
    border-color: $gray-c;
    box-shadow: inset 0 1px 1px $transparent-black;

    .select2-selection__choice {
      background-color: $white;
    }
  }

  &.select2-container--focus .select2-selection--multiple {
    border-color: $gray-a;
  }
}

.select2-selection.select2-selection--single {
  border-color: $gray-c;
}

// DataTables
// - Make search box smaller.
.dataTables_wrapper .dataTables_filter > label > input {
  width: 100px;
}

// jQuery-UI
// - Hide the south-east resizable grip.
.ui-icon-gripsmall-diagonal-se {
  opacity: 0;
}
