$white: #fff;
$gray: #ccc;

#side-panel {
  bottom: 30px;
  height: auto;
  position: fixed;
  right: 0;
  top: 35px;
  z-index: 1;

  .panel-section {
    margin-top: 20px;
  }

  .input-with-update {
    border-radius: 4px 0 0 4px;
    width: calc(100% - 40px);
  }

  .sub-buttons {
    text-align: right;
  }

  .btn-update {
    border-radius: 0 4px 4px 0;
    float: right;
    left: -1px;
    top: -.5px;
  }

  .switches {
    > table {
      width: 100%;
    }

    td {
      padding: 2px;
    }
  }

  > .btn-toggle {
    border-radius: 4px 0 0;
    height: 50px;
    left: -1px;
    position: absolute;
    width: 32px;
    z-index: 1;
  }

  .tab-content {
    background-color: $white;
    border: solid 1px $gray;
    border-radius: 0 0 0 4px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
  }

  .tabs {
    float: left;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    width: 30px;
  }

  .sideways {
    border-right: solid 1px $gray;

    &.tabs-left {
      border: 0;
      left: 0;
      margin-left: -51px;
      margin-right: -1px;
      width: 0;
    }

    > li > a {
      background-color: $white;
      border: solid 1px $gray;
      font-size: small;
      margin-top: -1px;
      overflow: hidden;
      padding: 6px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    li:first-child {
      display: none;
    }

    li:nth-child(2) {
      margin-top: 46.5px;

      a {
        border-top-right-radius: 0;
        margin-top: -2px;
      }
    }
  }
}
