<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">Create Expression Matrix</h4>
</div>
<div class="modal-body">
  <table>
    <colgroup>
      <col width="50">
      <col width="100">
    </colgroup>
    <tr>
      <td>Name</td>
      <td><input id="view-name" class="form-control" title="view name" value="Expression Matrix"></td>
    </tr>
    <tr>
      <td>Data</td>
      <td>
        <select id="matrix" title="select expression matrix"></select>
      </td>
    </tr>
    <!--
    <tr>
      <td>Profile</td>
      <td><input id="plot" class="form-control" size="20" title="name of gene to be plotted as polyline"></td>
    </tr>
    -->
    <tr>
      <td>Genes</td>
      <td><input id="gene-regex" class="form-control" size="20" title="regex for genes to be shown in the heatmap"></td>
    </tr>
    <tr>
      <td>Conditions</td>
      <td><input id="cond-regex" class="form-control" size="20" title="Regexp for conditions to be shown in the heatmap"></td>
    </tr>
  </table>
</div>
<div class="modal-footer">
  <button class="btn btn-default" data-dismiss="modal">Close</button>
  <button id="btn-create" class="btn btn-primary" data-dismiss="modal">Create</button>
</div>
