<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">Create Network</h4>
</div>
<div class="modal-body">
  <table>
    <colgroup>
      <col width="50">
      <col width="100">
    </colgroup>
    <tr>
      <td>Name</td>
      <td><input id="view-name" class="form-control" title="view name" value="Network"></td>
    </tr>
    <tr>
      <td>Network</td>
      <td><select id="network" class="selectpicker"></select></td>
    </tr>
    <tr>
      <td>Genes</td>
      <td><input type='text' id='geneRegex' class="form-control"></td>
      <td>
        <div id='gene-input-type' class="input-checkbox">
          <label class="radio-inline" name="regex"><input type="radio" name="optradio" checked>regex</label>
          <label class="radio-inline" name="text"><input type="radio" name="optradio">text</label>
        </div>
      </td>
    </tr>
  </table>
</div>
<div class="modal-footer">
  <button class="btn btn-default" data-dismiss="modal">Close</button>
  <button id="btn-create" class="btn btn-primary" data-dismiss="modal">Create</button>
</div>
