<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">Change Organism</h4>
</div>
<div class="modal-body">
  <button type="button" id="th17" class="btn btn-default btn-organism">Th17</button>
  <button type="button" id="b-subtilis" class="btn btn-default btn-organism">B. Subtilis</button>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
  <button id="btnDone" type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
</div>
