<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
<!--<link rel="stylesheet" href="bootstrap.vertical-tabs.min.css">-->
<!--<link rel="stylesheet" type="text/css" href="style.css">-->
<!--</head>-->
<!--<body>-->

<!--<button id="btn-add">Append View</button>-->
<!--<button id="btn-remove">Remove View</button>-->
<!--<button id="btn-closeAll">Close All</button>-->

<!--<button id="triangle-button"></button>-->
<!--<div class="panel-manager">-->
  <div id="slidebar">
  	<button class="btn btn-default"><span id="icon-button" class="glyphicon glyphicon-chevron-right"></span></button>
  </div>
  <div id="slider">
    <div id="tab-slidebar" class="col-xs-3"> <!--required for floating-->
       <!--Nav tabs -->
      <ul class="nav nav-tabs tabs-left sideways">
        <!--<li class="active"><a href="#view0" data-toggle="tab">view0</a></li>-->
      </ul>
    </div>
    <div id="tab-content-slidebar" class="col-xs-9">
      <!-- Tab panes -->
      <div class="tab-content">
        <!--<div class="tab-pane active" id="view0">propertity</div>-->
      </div>
    </div>
  </div>
<!--</div>-->

<!--<div style="clear: both;"></div>-->
<!--</body>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
<!--<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>-->
<!--<script type="text/javascript" src="panel-manager.js"></script>-->
<!--<script type="text/javascript" src="../js/view-manager.js"></script>-->
<!--</html>-->
