<div id="btnToggle">
  <button class="btn btn-default">
    <span id="icon-button" class="glyphicon glyphicon-chevron-right"></span>
  </button>
</div>
<div id="slider">
  <div id="tab-slider" class="col-xs-3"> <!-- required for floating -->
    <!-- Nav tabs -->
    <ul class="nav nav-tabs tabs-left sideways">
      <li id="panel-tab-init"><a href="#view-init" data-toggle="tab"></a></li>
    </ul>
  </div>
  <div id="tab-content-slider" class="col-xs-9">
    <!-- Tab panes -->
    <div class="tab-content">
      <div id="panel-view-init" class="tab-pane active"></div>
    </div>
  </div>
</div>
