<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">Sign Up</h4>
</div>
<div class="modal-body">
  <table>
    <colgroup>
      <col width="50">
      <col width="100">
    </colgroup>
    <tr>
      <td>Email</td>
      <td><input id="email" type="email" class="form-control"></td>
    </tr>
    <tr>
      <td>Username</td>
      <td><input id="username" class="form-control"></input></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input id="password" type="password" class="form-control"></input></td>
    </tr>
    <tr>
      <td>Confirm Password</td>
      <td><input id="confirm-password" type="password" class="form-control"></input></td>
    </tr>
  </table>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
  <button id="btn-sign-up" type="button" class="btn btn-primary" data-dismiss="modal">Sign Up</button>
</div>
