<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">Upload Data</h4>
</div>
<div class="modal-body">
  <table>
    <colgroup>
      <col width="50">
      <col width="100">
    </colgroup>
    <tr>
      <td style="white-space:nowrap">Data Type</td>
      <td>
        <select id="type" class="selectpicker">
          <option value="network">Network</option>
          <option value="binding">Binding Track</option>
          <option value="bed">Bed Track</option>
          <option value="expression">Expression Matrix</option>
          <option value="mapping">Mapping</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Data Name</td>
      <td><input id="data-name" class="form-control"></td>
    </tr>
    <tr>
        <td>File Name</td>
        <td><input id="file-name" class="form-control"></td>
    </tr>
    <tr>
      <td>Description</td>
      <td><textarea id="description" class="form-control"></textarea></td>
    </tr>
  </table>
  <div class="file-section">
    <button id="btn-file" class="btn btn-default">Choose File</button>
    <span id="file-display" class="form-control"></span>
    <form id="file-form" method="post">
      <input id="file" type="file" name="file" class="form-control"/>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
  <button id="btn-upload" type="button" class="btn btn-primary" data-dismiss="modal">Upload</button>
</div>
